/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-05-2021, 19:53:02
    Author     : Kien
*/

body{
    background-color: #e8e8e8;
    font-family: sans-serif;
}
.container{
    width: 886px;
    /*border: solid black;*/
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;

}
.left{
    width: 70%;
    border-right: 1px dashed #767676;
    padding-right: 10px;
}

.right{
    width: 30%;
    padding-right: 80px;
    margin-left: 10px;
}

.preheader{
    width: 886px;
    height: 71px;
    background-image: url(../images/preheader.jpg);
    margin: auto;
}

.header{
    width: 886px;
    height: 78px;
    background-image: url(../images/header.jpg);
    margin: auto;
}

.header p{
    margin: 0;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

.menu{
    width: 886px;
    height: 32px;
    background-image: url(../images/menu.jpg);
    margin: auto;
}

.menu a{
    color: white;
    text-decoration: none;
    line-height: 32px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 13px;
}

.footer{
    background-image: url(../images/footer.jpg);
    width: 886px;
    height: 78px;
}
.pd-left-80{
    padding-left: 80px;
}

.content{
    background-image: url(../images/bg.jpg);
    display: flex;
    width: 886px;
    margin:  auto;
    padding: auto;
}
.content img{
    width: 500px;
}
.author img{
    width: 15px; 
}
.author{
    border-top: 2px dashed #e8e8e8;
    text-align: right;
    /*margin-right: 20px;*/
    color: #767676;
    font-size: 12px;
}
.text-search{
    width: 100px;
    border: 1px dashed
}

.go{
    border: none;
    background: none;
    text-decoration: none;
    color: #767676;
    font-family: sans-serif;
    font-size: 13px;
    padding-left: 5px;
}
.title{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 15px 0;
    text-transform:capitalize;
}
.information{
    font-size: 14px;
}
.description{
    font-size: 14px;
}
.list-reset{
    list-style-type: none;
    padding: 0;
}
.list-reset a{
    font-size: 14px;
    text-decoration: none;
    color: #767676;
}

.search-info{
    display: flex;
}

.search-info div img{
    width: 200px;
    margin: 24px 0;
}

.search-des{
    margin-left: 20px;
}

.paging{
    margin-left: 50%;
}

.page-link{
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;   
    margin: 5px;
}

.page-current{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: bold;
    margin: 5px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}
mark{
    color: #767676;
    padding-top: 5px;
}

@media screen and  (max-width: 600px){
    .content{
        display: block;
    }   
    .left{
        width: 80%;
        border-right: none;
    }
    .right{
        width: 80%;
        padding: 80px;
    }
    .header p, .menu a, .search-des p, .list-reset a, .author, .description, .information{
        font-size: 24px;
    }
    .list-reset{
        margin-top: 0;
        padding-top: 20px;
    }
    .title{
        font-size: 30px;
    }
    .text-search{
        width: 400px;
        height: 30px;
        border: 1px dashed;
        font-size: 24px;
    }

    .go{
        border: none;
        background: none;
        text-decoration: none;
        color: #767676;
        font-family: sans-serif;
        font-size: 24px;
        padding-left: 5px;
    }
    .author img{
        width: 30px;
    }
}