<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>filter.SessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TakeQuiz</servlet-name>
        <servlet-class>controller.TakeQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartQuiz</servlet-name>
        <servlet-class>controller.StartQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Next</servlet-name>
        <servlet-class>controller.Next</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Finish</servlet-name>
        <servlet-class>controller.Finish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageQuiz</servlet-name>
        <servlet-class>controller.ManageQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MakeQuiz</servlet-name>
        <servlet-class>controller.MakeQuiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuiz</servlet-name>
        <url-pattern>/TakeQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartQuiz</servlet-name>
        <url-pattern>/StartQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Next</servlet-name>
        <url-pattern>/Next</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Finish</servlet-name>
        <url-pattern>/Finish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageQuiz</servlet-name>
        <url-pattern>/ManageQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MakeQuiz</servlet-name>
        <url-pattern>/MakeQuiz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1800
        </session-timeout>
    </session-config>
</web-app>
